{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">{{pitch.title}}</div>
            <div class="card-body">{{pitch.pitch_statement}}</div>
            <div class="card-footer"></div>
        </div>
        {% for review in reviews %}
        <div class="col-sm-12">
                <img src="{{review.image_path}}" class="img-responsive">
            <div class="col-sm-8">
                {{review.pitch_review}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}